.page {
    font-family: "Poppins", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #35ffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.wrapper {
    position: relative;
    width: 420px;
    background: #283548;
    border-radius: 10px;
    color: #fff;
    padding: 40px;
}
.input-box {
    display: flex; /* Display input boxes in a flex container */
    margin-bottom: 30px;
}

.input-box:first-child {
    margin-right: 20px; /* Add margin to the right of the first input box in each row */
}

.input-box input,
.input-box select {
    flex: 1; /* Allow input boxes to grow and fill available space */
}

.input-box + .input-box {
    margin-left: 20px; /* Add margin to the left of each input box except the first one */
}

form h2 {
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}

.form-box .input-box {
    position: relative;
    margin-bottom: 30px;
    margin-right: 20px;
    margin-left: 20px;
}

.input-box input {
    width: calc(100% - 40px);
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 40px;
    font-size: 16px;
    color: #ffffff;
    padding: 0 20px;
}
.input-box select {
    -webkit-appearance: none; /* Remove default arrow */
    -moz-appearance: none;
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23ffffff" width="24" height="24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
    background-repeat: no-repeat;
    background-position: right 20px center;

}
.input-box .icon {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 16px;
}
.input-box input,
.input-box select {
    width: calc(100% - 40px);
    height: 50px;
    background: transparent;
    outline: none;
    border: 2px solid rgba(255, 255, 255, .1);
    border-radius: 40px;
    font-size: 16px;
    color: #fff;
    padding: 0 20px;
}

.form-box .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin-bottom: 15px;
}

.remember-forgot label input {
    margin-right: 4px;
}

.remember-forgot a {
    color: white;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

form button {
    width: 100%;
    height: 45px;
    background: white;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333333;
    font-weight: 700;
}

.form-box .register-link {
    font-size: 14.5px;
    text-align: center;
    margin-top: 20px;
}

.register-link p a {
    color: white;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}
